.spinnerBlock{
    position: fixed;
    width: 100% !important;
    height: 100vh !important;
    background: rgba(120,148,224,0.7) !important;
    z-index: 4;
}
.spinnyMsg{
    font-size: 25px;
    color: #16348C;
    margin: 0 auto;
    text-align: center;
}