<div class="navWrapper">
    <div class="innerWrapper d-flex">
        <div class="col-4 welcomeBlock">
            <div class="welcomeText">Welcome</div>
            <div class="userName">Jane Sharmila Ashok</div>
        </div>
        <div class="col-5 d-flex justify-content-evenly menuItems align-items-center">
            <a mat-button routerLink="dashboard">Dashboard</a>
            <a mat-button routerLink="profile">Profile</a>
            <a mat-button routerLink="createReq">Create request</a>
        </div>
        <div class="col-3 d-flex justify-content-evenly menuItems align-items-center">
            <button mat-stroked-button>SUPPORT</button>
            <button mat-flat-button>CONTACT US</button>
        </div>
    </div>
</div>